body{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
    height: 100%;
}
.login_title,.sign_title{
    font-size: 30px;
    color: #FF6633;
	text-align: center;
	padding-top: 40px;
}
.login_main input,.sign_main input,.sign_sex{
	margin-top: 30px;

}
.submit{
	margin-top: 30px;
	background-color: #FF7F00;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.submit:active{
	background-color: #BF5F00;
}

.login_main .login_input{
	text-align: center;
}
