<head>
	<link href="__ROOT__/Public/css/common.css" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" media="screen" rel="stylesheet" href="__ROOT__/Public/css/weixin_index.css" /> 
	<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/js/jquery.cookie.js"></script> 
	<script type="text/javascript" src="__ROOT__/Public/js/hprose/hprose.js" flashpath="__ROOT__/Public/js/hprose/"></script>
	<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=320,maximum-scale=1.3,user-scalable=no" />
</head>
