<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__ROOT__/Public/css/bootstrap.min.css"  media="screen" rel="stylesheet">
<link href="__ROOT__/Public/css/bootstrap-responsive.min.css" rel="stylesheet"> 
<link href="__ROOT__/Public/css/common.css" rel="stylesheet">


<!-- <link type="text/css" media="screen" rel="stylesheet" href="__ROOT__/Public/css/weixin_index.css" /> -->
<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.2.min.js"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/angular.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/jquery.cookie.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/hprose/hprose.js" flashpath="__ROOT__/Public/js/hprose/"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"></head>
