<div class="main_nav">
		<ul>
			<li id="main_page" style="border-right: 1px solid grey">
				<a href="{:U('Home/Main/main')}"><div class="pic1"><img src="__ROOT__/Public/images/home.png"></div>首页</a>
			</li>
			<li id="personal_page" style="border-right: 1px solid grey">
				<a href="{:U('Home/Main/personal')}"><div class="pic2"><img src="__ROOT__/Public/images/person.png"></div>个人主页</a>
			</li>
			<li id="user_page">
				<a href="{:U('Home/Main/user')}"><div class="pic3"><img src="__ROOT__/Public/images/user.png"></div>关于我</a>
			</li>
		</ul>
</div>
